body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    background-color: var(--bg-mode);
    color: var(--font-mode);
    border-color: var(--border-mode);
    min-height: 100vh;
    height: auto;
    align-items: stretch;
}

body.dark-mode {
    --bg-mode: var(--bg-dark);
    --font-mode: var(--font-dark);
    --border-mode: var(--border-dark);
}

.sidebar {
    background-color: var(--bg-sidebar);
    color: var(--font-sidebar);
    display: flex;
    flex-direction: column;
    min-width: 260px;
    width: 260px;
    transition: width 0.5s ease;
}

@font-face {
    font-family: "TechnoRace";
    src: url('../fonts/TechnoRace-Italic.otf');
}

.logo {
    font-family: "TechnoRace";
    font-size: 30px;
    background-color: var(--bg-logo);
    text-align: center;
    padding: 30px 0px;
    cursor: pointer;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.sidebar nav a {
    text-decoration: none;
    color: var(--font-sidebar);
    font-weight: lighter;
    padding: 10px 15px;
}

main {
    width: 100%;
    padding: 10px 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid var(--border-mode);
}

header i {
    cursor: pointer;
    font-size: 20px;
}

nav a span {
    margin-left: 10px;
}

.container {
    margin: 25px 0px;
}

.collapsed {
    min-width: 60px;
    width: 60px;
}

.texto-collapse {
    display: none;
}

.icone-centralizado {
    align-items: center;
}

.icones-esquerda i {
    padding-left: 15px;
}